[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
faker = "*"
numpy = "*"
seaborn = "*"
black = {extras = ["jupyter"], version = "*"}
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
