[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = {extras = ["jupyter"], version = "*"}
faker = "*"
ipycanvas = "*"
ipywidgets = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
tqdm = "*"
pylint = "*"
nbqa = "*"
coverage = "*"
deprecation = "*"
duckdb = "*"

[requires]
python_version = "3.12"

[dev-packages]
